a:link, a:active, a:visited {
	font-family: Tahoma, Arial;
	color: #004671;
	text-decoration: none;
	font-size: 10px;
	font-weight: normal;
}
a:hover {
	font-family: Tahoma, Arial;
	color: #004671;
	text-decoration: underline;
	text-decoration: underline;
	font-size: 10px;
	font-weight: normal;
}
a.link:link, a.link:active, a.link:visited {
	font-family: Tahoma, Arial;
	color: #383E4B;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
}
a.link:hover {
	font-family: Tahoma, Arial;
	color: #FFFFFF;
	text-decoration: underline;
	background-color: #00629D;
	font-size: 11px;
	font-weight: bold;
	text-transform: none;
}
BODY {
	font-weight: normal;
	background-image: url(images/bursak.gif);
}
TD {
	font-family: Tahoma, Arial;
	font-size: 10px;
	color: #FFFFFF;
}
.px10 {
	font-size: 10px;
}
.underline {
	text-decoration: underline;
}
.px18 {
	font-size: 18px;
}
.red {
	color: #FF0000;
}
.blue_dark {
	color: #23425A;
}
.blue {
	color: #0066A4;
}
.grey {
	color: #666666;
}
